.headers {
  margin-top: 5vh;
  margin-bottom: 2vh;
  padding: 1vh;
  width: 100%;
  background-color: #1c1329;
  color: white;
}
.rows:hover {
  background-color: rgb(213, 213, 218);
  cursor: pointer;
}
