<div class="text-end inner w-100 bg-white rounded">
  <p class="text-end text-muted opacity-50 mx-3"></p>
  <div class="w-100 loading-bar" *ngIf="loadQ">
    <mat-progress-bar
      class="loader"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>
  </div>
  <br /><br />
  <form [formGroup]="formInput" *ngIf="!loadQ">
    <div *ngIf="handle === 0">
      <h4 class="p-3">لطفا برای شروع شماره مشترک را وارد نمایید</h4>
      <label> شماره ثابت سرویس مشترک</label>
      <input formControlName="tell" type="tel" />
      <div *ngIf="userloginedLevel === '1'" class="mt-4 border mb-4 p-2">
        <p>مشخصات پیمانکار</p>
        <div class="m-2">
          <label>اصلا کسی مراجعه نکرده است</label>
          <mat-slide-toggle (change)="isOnChange($event)"> </mat-slide-toggle>
        </div>
        <div>
          <label>شماره همراه </label>
          <input formControlName="pey_qrcode" type="text" />
        </div>
        <div>
          <label>نام و نام خانوادگی</label>
          <input formControlName="pey_name" type="text" />
        </div>
      </div>
      <div *ngIf="userloginedLevel === '1'" class="mt-4 border mb-4 p-2">
        <p>مشخصات تیکت</p>
        <div class="m-2">
          <label>شماره تیکت</label>
          <input formControlName="ticket_number" type="text" />
        </div>
      </div>

      <button *ngIf="isOn" (click)="updateDontRefre()" mat-raised-button>
        بروزرسانی
      </button>
      <button
        *ngIf="!isOn"
        [disabled]="formInput.invalid"
        (click)="handle = handle + 1"
        mat-raised-button
      >
        تایید
      </button>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div *ngIf="handle === 0">
      <h4 class="p-4 w-100">
        مشتریان زیر در لایه قبل ارزیابی شده اند . میتوانید جهت سهولت از لیست زیر
        برای لایه کنونی اقدام نمایید
      </h4>
      <table class="table" *ngIf="userPreviousFailure[0]">
        <tr class="header">
          <td class="w-25">شماره تلفن مشترک</td>
          <td>نوع</td>
          <td>تاریخ تماس لایه قبل</td>
          <td>نام تماس گیرنده لایه قبل</td>
        </tr>
        <tr
          (click)="chooseTell(itemPrev.tell)"
          *ngFor="let itemPrev of userPreviousFailure"
          class="cursor-pointer card-header"
        >
          <td>{{ itemPrev.tell }}</td>
          <td>
            {{ itemPrev.types }}
            لایه
            {{ itemPrev.layer }}
          </td>
          <td>{{ itemPrev.datetime | jalaliDate: "dddd jD jMMMM jYYYY" }}</td>
          <td>
            {{ itemPrev.userinfo[0]?.name }}
            {{ itemPrev.userinfo[0]?.family }}
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="handle === 1">
      <h4 class="p-3">نوع پشتیبانی اعم از خرابی/دایری را انتخاب کنید</h4>

      <select (change)="typeQ($event)" formControlName="typehc">
        <option value="خرابی">خرابی</option>
        <option value="دایری">دایری</option>
      </select>
    </div>
    <div class="m-3 pt-4">
      <div class="w-100" *ngFor="let item of ques; let i = index">
        <ng-container *ngIf="handle > 1">
          <ng-container *ngIf="handle === i + 2">
            <ng-container
              *ngIf="item.type === 'all' || item.type === getType()"
            >
              <div class="animate-fade">
                <div class="w-100 m-2 p-1">
                  <h5>
                    <span> {{ i + 1 }} - </span>
                    {{ item.title }}
                    <span class="text-muted">( {{ item.groups }} ) </span>
                  </h5>
                </div>
                <select
                  (change)="changeResult($event, item)"
                  *ngIf="item.model === 'grade'"
                >
                  <option selected="selected">....</option>

                  <option *ngFor="let i of answer" [value]="i.score">
                    {{ i.answer }}
                  </option>
                </select>
                <select
                  *ngIf="item.model === ''"
                  (change)="changeResult($event, item)"
                >
                  <option selected="selected">....</option>
                  <option value="بله">بله</option>
                  <option value="خیر">خیر</option>
                </select>
                <div *ngIf="item.model === 'special'">
                  <select
                    (change)="changeResult($event, item)"
                    formControlName="result"
                  >
                    <option selected="selected">....</option>
                    <ng-container *ngFor="let j of scores">
                      <option *ngIf="j <= item.ceilspecial" [value]="j">
                        {{ j }}
                      </option>
                    </ng-container>
                  </select>
                </div>

                <div *ngIf="item.model === 'text'">
                  <form [formGroup]="formSuggest">
                    <input formControlName="modelText" [id]="item.qsid" />
                    <button
                      (click)="changeResultText('', item)"
                      mat-raised-button
                      [disabled]="formSuggest.invalid"
                    >
                      تایید
                    </button>
                  </form>
                </div>

                <div *ngIf="item.model === 'text2'">
                  <form [formGroup]="formSuggest2">
                    <input formControlName="modelText2" [id]="item.qsid" />
                    <button
                      (click)="changeResultText2('', item)"
                      mat-raised-button
                      [disabled]="formSuggest.invalid"
                    >
                      تایید
                    </button>
                  </form>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="handle === ques.length + 2">
        <h5>برای تایید و ثبت نهایی لطفا از دکمه بروز رسانی استفاده نمایید.</h5>
        <button
          (click)="submit()"
          class="w-fit m-4"
          type="submit"
          mat-raised-button
        >
          بروزرسانی
        </button>
      </div>
      <button
        *ngIf="handle > 0"
        class="m-4"
        (click)="handle = handle - 1"
        mat-raised-button
      >
        مرحله قبل
      </button>
    </div>
  </form>
</div>

<div class="modals text-center" *ngIf="modalDel">
  <div class="w-50 mt-4 bg-light inline">
    <div class="m-4 p-4">
      <h5>آیا از حذف مطمین هستید؟</h5>
    </div>
    <div class="mt-4 pt-4">
      <button
        (click)="delete()"
        *ngIf="!loadingProgress"
        class="w-fit m-4"
        type="submit"
        mat-raised-button
      >
        بله
      </button>
    </div>
    <div>
      <button
        (click)="modalDel = false"
        *ngIf="!loadingProgress"
        class="w-fit m-4"
        type="submit"
        mat-raised-button
      >
        انصراف
      </button>
    </div>
  </div>
</div>
