<div class="text-end inner w-100 bg-white rounded">
  <p class="text-end text-muted opacity-50 mx-3"></p>
  <div class="w-100 loading-bar" *ngIf="loadQ">
    <mat-progress-bar
      class="loader"
      mode="indeterminate"
      color="accent"
    ></mat-progress-bar>
  </div>
  <br /><br />
  <form [formGroup]="formInput" *ngIf="!loadQ">
    <div *ngIf="handle === 0">
      <label> شماره ثابت سرویس مشترک</label>
      <input formControlName="tell" type="tel" />
      <button
        [disabled]="formInput.invalid"
        (click)="handle = handle + 1"
        mat-raised-button
      >
        تایید
      </button>
    </div>
    <div *ngIf="handle === 1">
      <label> نوع پشتیبانی</label>
      <select (change)="typeQ($event)" formControlName="typehc">
        <option value="خرابی">خرابی</option>
        <option value="دایری">دایری</option>
      </select>
    </div>
    <div class="m-3 pt-4">
      <div class="w-100" *ngFor="let item of ques; let i = index">
        <ng-container *ngIf="handle > 1">
          <ng-container *ngIf="handle === i + 2">
            <ng-container
              *ngIf="item.type === 'all' || item.type === getType()"
            >
              <div class="animate-fade">
                <div class="w-100 m-2 p-1">
                  <h5>
                    <span> {{ i + 1 }} - </span>
                    {{ item.title }}
                    <span class="text-muted">( {{ item.groups }} ) </span>
                  </h5>
                </div>
                <select
                  [id]="item.qsid"
                  *ngIf="item.model === ''"
                  (change)="changeResult($event, item)"
                >
                  <option selected="selected">....</option>
                  <option *ngFor="let i of answer" [value]="i.score">
                    {{ i.answer }}
                  </option>
                </select>
                <div *ngIf="item.model === 'special'">
                  <select
                    (change)="changeResult($event, item)"
                    formControlName="result"
                  >
                    <option *ngFor="let j of scores" [value]="j">
                      {{ j }}
                    </option>
                  </select>
                </div>

                <div *ngIf="item.model === 'text'">
                  <form [formGroup]="formSuggest">
                    <input formControlName="modelText" [id]="item.qsid" />
                    <button
                      (click)="changeResultText('', item)"
                      mat-raised-button
                      [disabled]="formSuggest.invalid"
                    >
                      تایید
                    </button>
                  </form>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <div *ngIf="handle === ques.length + 2">
        <h5>برای تایید و ثبت نهایی لطفا از دکمه بروز رسانی استفاده نمایید.</h5>
        <button
          (click)="submit()"
          class="w-fit m-4"
          type="submit"
          mat-raised-button
        >
          بروزرسانی
        </button>
      </div>
      <button
        *ngIf="handle > 0"
        class="m-4"
        (click)="handle = handle - 1"
        mat-raised-button
      >
        مرحله قبل
      </button>
    </div>
  </form>
</div>

<div class="modals text-center" *ngIf="modalDel">
  <div class="w-50 mt-4 bg-light inline">
    <div class="m-4 p-4">
      <h5>آیا از حذف مطمین هستید؟</h5>
    </div>
    <div class="mt-4 pt-4">
      <button
        (click)="delete()"
        *ngIf="!loadingProgress"
        class="w-fit m-4"
        type="submit"
        mat-raised-button
      >
        بله
      </button>
    </div>
    <div>
      <button
        (click)="modalDel = false"
        *ngIf="!loadingProgress"
        class="w-fit m-4"
        type="submit"
        mat-raised-button
      >
        انصراف
      </button>
    </div>
  </div>
</div>
