<div class="w-100 loading-bar" *ngIf="loadQ">
  <mat-progress-bar
    class="loader"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>
</div>
<div *ngIf="!loadQ">
  <div class="w-100 text-right p-2 m-1">
    <form [formGroup]="filterName">
      <div>
        <input
          class="input-style"
          placeholder="فیلتر شماره مشترک"
          formControlName="name"
        />
      </div>
    </form>
  </div>

  <pagination-controls
    [autoHide]="true"
    [directionLinks]="false"
    class="my-pagination especial"
    (pageChange)="events($event)"
  ></pagination-controls>

  <div class="d-flex justify-content-between w-100">
    <div></div>
    <div>
      <button mat-raised-button (click)="exportExcel()">
        دانلود Excel فرمت ۱
      </button>
      <button mat-raised-button (click)="exportExcelSpecial()">
        دانلود Excel فرمت ۲
      </button>
    </div>
  </div>
  <div class="m-1 p-1" *ngFor="let group of groupedData; let i = index">
    <ng-container *ngIf="filterCheck(group.tell, filteredName)">
      <div class="card-header p-2 border my-3 rounded">
        <div>
          <span class="text-muted opacity-75">
            {{ group.tell }}
          </span>

          <span
            class="text-small"
            (click)="showDetails = showDetails == i ? -1 : i"
            mat-raised-button
          >
            مشاهده جزییات
          </span>
        </div>
      </div>

      <table class="table" *ngIf="showDetails === i">
        <tr class="bg-primary text-light">
          <td>پرسش</td>
          <td>نوع</td>
          <td>نتیجه</td>
          <td>گروه</td>
          <td>تاریخ</td>
          <td>مراجعه کننده</td>
          <td>مصاحبه گر</td>
        </tr>
        <tr
          [class.opacity-50]="item.layer === '2'"
          *ngFor="let item of group.items; let j = index"
        >
          <td>{{ item.title }}</td>
          <td>{{ item.types }}</td>
          <td>{{ item.score }}</td>
          <td
            [class.text-primary]="item.layer === '1'"
            [class.text-danger]="item.layer === '2'"
            [class.text-success]="item.layer === '3'"
          >
            لایه {{ item.layer }}
          </td>

          <td>
            {{ item.datetime | jalaliDate: "dddd jD jMMMM jYYYY  ساعت H:m" }}
          </td>
          <td>
            {{ item.pey_name }}
          </td>
          <td>
            {{ item.userinfo[0]?.name }}
            {{ item.userinfo[0]?.family }}
          </td>
        </tr>
      </table>
    </ng-container>
  </div>

  <table id="reportTable" style="display: none">
    <ng-container *ngFor="let group of groupedData; let i = index">
      <table class="table">
        <tr>
          <td>مشترک</td>
          <td>پرسش</td>
          <td>نتیجه</td>
          <td>تاریخ</td>
          <td>نوع</td>
          <td>ثبت کننده</td>
          <td>مرحله</td>
          <td>پیمانکار مراجعه کننده به مشترک</td>
          <td>شماره همراه مراجعه کننده به مشترک</td>
        </tr>
        <tr *ngFor="let item of group.items; let j = index">
          <td>{{ group.tell }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.score }}</td>
          <td>
            {{ item.datetime | jalaliDate: "dddd jD jMMMM jYYYY  ساعت H:m" }}
          </td>
          <td>{{ item.types }}</td>
          <td>
            {{ item?.userinfo[0]?.name }} -{{ item?.userinfo[0]?.family }}
          </td>
          <td>لایه {{ item.layer }}</td>
          <td>
            {{ item?.pey_name }}
          </td>
          <td>
            {{ item?.pey_qrcode }}
          </td>
        </tr>
      </table>
    </ng-container>
  </table>
  <div class="modals text-center" *ngIf="modalDel">
    <div class="w-50 mt-4 bg-light inline">
      <div class="m-4 p-4">
        <h5>آیا از حذف مطمین هستید؟</h5>
      </div>
      <div class="mt-4 pt-4">
        <button
          (click)="delete()"
          *ngIf="!loadingProgress"
          class="w-fit m-4"
          type="submit"
          mat-raised-button
        >
          بله
        </button>
      </div>
      <div>
        <button
          (click)="modalDel = false"
          *ngIf="!loadingProgress"
          class="w-fit m-4"
          type="submit"
          mat-raised-button
        >
          انصراف
        </button>
      </div>
    </div>
  </div>
</div>

<div class="table-container" id="reportTable2" style="display: none">
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <!-- شماره تلفن -->
    <ng-container matColumnDef="tell">
      <th mat-header-cell *matHeaderCellDef>شماره تلفن</th>

      <td mat-cell *matCellDef="let row">
        {{ row.tell }}
      </td>
    </ng-container>

    <!-- سوالات -->
    <ng-container
      *ngFor="let question of questions"
      [matColumnDef]="question.qid.toString()"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{ question.title }} {{ question.groups }}
      </th>

      <td mat-cell *matCellDef="let row">
        {{ row[question.qid] || "-" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
