.rows:hover {
  background-color: rgb(213, 213, 218);
  cursor: pointer;
}
.modals {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  background-color: rgba(35, 41, 73, 0.918);
}
.input-style {
  width: 15vw;
  height: 4vh;
}
.fa {
  cursor: pointer;
}
input {
  width: 20vw;
  height: 5vh;
}
button {
  width: 7vw;
  height: 4.5vh;
  margin-right: 1vh;
}

.card-header {
  font-size: 2.3vh;
  cursor: pointer;
  &:hover {
    background-color: rgba(164, 177, 231, 0.678);
  }
}
.table > tr > td {
  border: solid 1px gray;
  padding: 1vh;
}

.text-small {
  font-size: 1.5vh !important;
}
.border-4 {
  border: solid 1px rgb(116, 114, 114);
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

table {
  width: max-content;
  min-width: 100%;
}

th {
  min-width: 220px;
  max-width: 300px;
  white-space: normal !important;
  line-height: 1.8;
  text-align: center;
}

td {
  text-align: center;
  white-space: nowrap;
}

th:first-child,
td:first-child {
  min-width: 120px;
  position: sticky;
  right: 0;
  background: white;
  z-index: 2;
}
